*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    /* margin: 0%; */

}
.container{
    display: flex;
    height: 100vh;
/* width: 100%;
margin: 0%;
padding: 0%;
background-color: rgb(79, 175, 175); */
}
.left{
    flex: 1;
background-color: white;
padding: 2%;
display: flex;
flex-direction: column;
justify-content: space-between;
/* width: 50%; */
    /* height: 100vh; */

}
.logo{
display: flex;
  align-items: center;
  gap: 15px;

}
.logo img{
    width: 20%;
  height: 10vh;
  /* background: #5d4cff; */
  /* color: white; */
  border-radius: 6%;
  display: grid;
  place-items: center;
  /* font-size: 24px; */
}
.text h2{
    font-size: 25px;
}
.text p{
    color: gray;
}
.meeting{
 width: 80%;
 margin: auto;
 margin-top: 0%;
 /* display: block;  */
}
.paras{
    /* margin: 0%; */
    /* padding: 0%; */
    line-height: 35px;
}




.right{
    background-color: bisque;
    width: 50%;
    height: 100vh;

}